* { margin:0; padding:0; }
body { color:#4f4f4f; font:normal normal 12px/normal Tahoma,Arial,Georgia,微软雅黑,宋体; background:#fff url(../images/topbg.jpg) no-repeat center top; }
img { border:none; }
button { cursor:pointer; } 
ul { list-style-type:none; }
table { border-collapse:collapse; } 
table td { text-align:left; padding:5px; }

a { text-decoration:none; }
a:link { color:#4f4f4f; }
a:visited { color:#4f4f4f; }
a:hover { color:#369; }


.wrap { margin:0 auto; width:980px; background:#fff; overflow:hidden; }
.logo { float:left; width:980px; height:449px; margin:0 0 10px 0; }
.main { float:left; width:980px; padding:0 0 20px 0; }
.m_left { float:left; width:240px; }
.m_center { float:left; width:470px; display:inline; margin:0 10px; }
.m_right { float:right; width:250px; }

.product_list { float:left; border:1px solid #dcdcdc; width:238px; padding-bottom:10px; margin:0 0 10px 0; }
.product_list h2 { width:208px; height:30px; border-bottom:1px solid #dcdcdc; font-size:14px; font-weight:normal; line-height:30px; padding:0 15px; color:#fff; background:#c00 url(../images/product_list_h2.jpg) repeat-x left top; }
.product_list dl { float:left; display:inline; width:198px; margin:0 20px; padding:15px 0; border-bottom:1px dotted #ccc; }
.product_list dt { float:left; font-size:15px; font-weight:bold; width:198px; margin:0 0 5px 0; }
.product_list dd { display:inline; line-height:1.8em; }
.product_list dd a { font-size:13px; }

.valuation { float:left; width:468px; border:1px solid #dcdcdc; margin:0 0 10px 0; }
.valuation h2 { width:438px; height:30px; border-bottom:1px solid #c00; font-size:14px; font-weight:bold; line-height:30px; padding:0 15px; }
.valuation table { width:468px; border-bottom:1px solid #dcdcdc; }
.valuation table th { text-align:center; padding:5px 0; background:#ffffda;  }
.valuation ul { float:left; width:468px; list-style:inside none; }
.valuation li { float:left; width:468px; height:40px; line-height:40px; border-bottom:1px solid #dcdcdc; }
.valuation li h3 { float:left; height:40px; text-align:center; width:120px; font-size:12px; font-weight:normal; }
.valuation li p { float:left; height:40px; text-align:center; }
.vp1 { width:58px; }
.vp2 { width:66px; }
.vp3 { width:68px; }
.vp4 { width:68px; font-size:11px; }
.vp5 { width:88px; }
.valuation li p.vp5 a { color:#369; background:url(../images/icon01.png) no-repeat left center; padding:5px 0 2px 20px; }
.valuation li p.vp5 a:visited { color:#369; }
.valuation li p.vp5 a:hover { color:#f00; }

.lzcj { float:left; width:468px; border:1px solid #dcdcdc; margin:0 0 10px 0; }
.lzcj h2 { font-size:14px; font-weight:normal; height:30px; line-height:30px; padding:0 15px; border-bottom:1px solid #dcdcdc; background:#fff url(../images/h2_bg.jpg) repeat-x left bottom; }
.lzcj .content { float:left; width:438px; padding:15px; }
.lzcj_cap { float:left; width:438px; margin:0 0 10px 0; }
.lzcj_cap img { float:left; width:100px; }
.lzcj_cap a { float:right; width:328px; line-height:22px; }
.lzcj ul { float:left; width:438px; }
.lzcj ul li { float:left; width:438px; border-bottom:1px solid #dcdcdc; height:30px; line-height:30px; }
.lzcj ul li a { float:left; width:340px; overflow:hidden; }
.lzcj ul li span { float:right; font-size:11px; }

.hotword { float:left; width:438px; border:1px solid #dcdcdc; padding:15px; margin:0 0 10px 0; line-height:2em; color:#f00; }


#lib_Tab2 { float:left; width:470px; margin:0px; padding:0px; margin-bottom:15px; }
.lib_tabborder { border:1px solid #dcdcdc; }
.lib_Menubox { height:28px; line-height:28px; position:relative; }
.lib_Menubox ul { margin:0px; padding:0px; list-style:none; position:absolute; top:3px; left:0; margin-left:10px; height:25px; text-align:center; }
.lib_Menubox li { float:left; display:block; cursor:pointer; width:64px; color:#666; font-weight:bold; margin-right:2px; height:25px; line-height:25px; background:#dcdcdc; }
.lib_Menubox li.hover { padding:0px; background:#fff; width:66px; border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc; color:#666; height:25px; line-height:25px; }
.lib_Contentbox { clear:both; margin-top:0px; border-top:none; height:170px; text-align:center; padding:20px; text-align:center; }

.ads01 { float:left; width:250px; height:300px; margin:0 0 10px 0; overflow:hidden; }
.ads02 { float:left; width:250px; height:200px; margin:0 0 10px 0; overflow:hidden; }

.text01 { float:left; width:238px; line-height:2em; padding:0 0 15px 0; margin:0 0 10px 0; border:1px solid #dcdcdc; }
.text01 strong { font-size:13px; display:block; margin:0 0 10px 0; background:#FEF5C8; padding:5px 10px; color:#c00; }
.text01 p { padding:0 15px; }

.box_comm{overflow:hidden;  float:left;border:1px solid #dcdcdc;margin:0 0 10px;  width:248px;}
.import_news{width:365px;overflow:hidden;}
.box_comm h2, .import_news h2{margin:0 1px;height:37px; line-height:34px;text-indent:22px;background:url(../images/i_h2.gif) no-repeat left bottom;}
.box_comm span.infor{display:block-inline;overflow:hidden;height:24px;float:left;color:#999;margin:-32px 10px 0 150px;}
.box_comm table.TabNav{background:#e0e0e0;text-align:center;margin:0 auto;}
.box_comm table.TabNav td span{display:block;width:18px;height:18px;float:right;color:#fff;cursor:pointer;text-align:center;line-height:18px;margin-left:3px;background-image:url(../images/i_tab_ud.gif);background-repeat:no-repeat;}
.box_comm table.TabNav td span#TitW1, .box_comm table.TabNav td span#TitX1{background-position:-18px 0;}
.box_comm h2 a{color:#CCC;font-size:12px;}
.box_comm h2 a.on{color:#666; font-size:13px;}
.box_comm table td{text-align:center;overflow:hidden;font-family:Arial;}
.charts_data{width:240px; height:230px; overflow:hidden; margin:3px auto 0 auto;}
.charts_data ul li{width:240px;height:23px;overflow:hidden;line-height:23px;font-family:Arial;}
.charts_data ul li.nx_row{background:#eee;}
.charts_data ul li h4{width:90px;font-size:12px;font-weight:normal;height:23px;text-indent:10px;overflow:hidden;white-space:normal;float:left;text-overflow:ellipsis;}
.charts_data ul li h5{width:40px;font-size:12px;text-indent:5px;font-weight:normal;height:23px;overflow:hidden;float:left;text-overflow:ellipsis;}
.charts_data ul li span{width:60px;height:23px;overflow:hidden;text-indent:5px;float:left;display:block;}
.charts_data ul li span b{font-weight:normal;}
.charts_data ul li i{width:50px;height:23px;font-style:normal;overflow:hidden;text-indent:5px;display:block;float:left;}

.footer { clear:both; border-top:1px solid #ccc; padding:15px 0; text-align:center; }
.footer p { margin:0 0 10px 0; }



.page_right { float:right; width:730px; }

.valuation2 { float:left; width:728px; border:1px solid #dcdcdc; margin:0 0 10px 0; }
.valuation2 h2 { width:698px; height:40px; font-size:16px; font-weight:bold;border-bottom:1px solid #ccc;  line-height:40px; padding:0 15px; }
.valuation2 table { width:728px; border-bottom:1px solid #dcdcdc; border-top:1px solid #c00; }
.valuation2 table th { text-align:center; padding:7px 0; background:#ffffda; font-size:14px;  }
.valuation2 ul { float:left; width:728px; list-style:inside none; }
.valuation2 li { float:left; width:728px; height:40px; line-height:40px; border-bottom:1px solid #dcdcdc; font-size:14px; }
.valuation2 li h3 { float:left; height:40px; text-align:center; width:187px; font-size:14px; font-weight:normal; }
.valuation2 li p { float:left; height:40px; text-align:center; }
.v2p1 { width:90px; }
.v2p2 { width:90px; }
.v2p3 { width:103px; }
.v2p4 { width:106px; font-size:12px; }
.v2p5 { width:96px; }
.v2p6 { width:83px; }
.v2p7 { width:40px; }
.v2p8 { width:120px; }
.valuation2 li p.v2p5 a { color:#369; background:url(../images/icon01.png) no-repeat left center; padding:5px 0 2px 20px; }
.valuation2 li p.v2p5 a:visited { color:#369; }
.valuation2 li p.v2p5 a:hover { color:#f00; }
 
.pagebar { float:left; width:630px; padding:20px 50px; }

.area{
	width:700px;
	margin:0 auto;
	overflow:hidden;
	padding:10px 0;
	line-height:2em;
}
.area a{
	display:block;
	float:left;
	padding:0 8px;
	margin:0 5px 0 0;
	white-space:nowrap;
}
.area a:hover,.area a.facing{
	background:#c00;
	color:#fff;
	text-decoration:none;
}


.spot-list { float:left; width:728px; margin:10px 0 20px; }
.spot-list th { width:728px; height:40px; border-top:1px solid #c00; border-bottom:1px solid #dcdcdc; background:#ffffda; text-align:center; font-weight:bold; font-size:14px; }
.spot-list td { width:728px; height:40px; border-bottom:1px solid #dcdcdc; font-size:14px; text-align:center; }
.spot-list td a { color:#369; background:url(../images/icon01.png) no-repeat left center; padding:5px 0 2px 20px; }
.spot-list td a:visited { color:#369; }
.spot-list td a:hover { color:#f00; }


.spot-list2 { float:left; width:468px; margin:0 0 20px; font-size:12px; }
.spot-list2 th { width:468px; height:32px; border-top:1px solid #c00; border-bottom:1px solid #dcdcdc; background:#ffffda; text-align:center; font-weight:bold; }
.spot-list2 td { width:468px; height:32px; border-bottom:1px solid #dcdcdc; text-align:center; }
.spot-list2 a { color:#369; background:url(../images/icon01.png) no-repeat left center; padding:5px 0 2px 20px; }
.spot-list2 a:visited { color:#369; }
.spot-list2 a:hover { color:#f00; }


































