.tdclass0 {
	background-color: #E4EDF9;
	height: 22px;
	font-family:"Verdana", "Arial", "ו";
	font-size: 12px;
	color:#000000;
}
.tdclass1 {
	background-color: #F1F3F5;
	height: 22px;
	font-family:"Verdana", "Arial", "ו";
	font-size: 12px;
	color:#000000;
}